<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_bat_run_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,926},{37,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{55,35}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1600},{55,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{45,39}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1330},{45,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1512},{35,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1471},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{45,39}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1377},{45,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{41,37}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,887},{41,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,965},{37,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,18}</string>
                <key>spriteSize</key>
                <string>{41,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,138},{41,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,18}</string>
                <key>spriteSize</key>
                <string>{41,39}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,723},{41,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{35,47}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1657},{35,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{35,47}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1706},{35,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,13}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1004},{37,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,543},{45,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{45,39}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1424},{45,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,18}</string>
                <key>spriteSize</key>
                <string>{41,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,181},{41,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,18}</string>
                <key>spriteSize</key>
                <string>{41,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,224},{41,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,17}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,805},{39,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{37,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1549},{37,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{39,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1230},{39,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,10}</string>
                <key>spriteSize</key>
                <string>{41,47}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,447},{41,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,14}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,496},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,637},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,18}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,48},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,17}</string>
                <key>spriteSize</key>
                <string>{39,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,310},{39,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{41,39}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,764},{41,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,12}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1082},{35,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1119},{35,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{37,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1043},{37,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,680},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,93},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_bat_run_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{41,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,267},{41,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1156},{35,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{55,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,390},{55,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{35,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1193},{35,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,846},{39,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,11}</string>
                <key>spriteSize</key>
                <string>{47,39}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,1281},{47,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,590},{45,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_bat_run_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{37,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,79}</string>
                <key>textureRect</key>
                <string>{{1,351},{37,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bat.png</string>
            <key>size</key>
            <string>{45,1754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4224e5858620d5f97e5b99100c4aef67:92772265bb942a896f666b54ff229ba2:3808b107ac6b3aadbfb96b33e232a46e$</string>
            <key>textureFileName</key>
            <string>bat.png</string>
        </dict>
    </dict>
</plist>
