<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_demon_tree_run_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,32}</string>
                <key>spriteSize</key>
                <string>{104,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{431,100},{104,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{104,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{319,169},{104,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{104,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{213,246},{104,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,32}</string>
                <key>spriteSize</key>
                <string>{106,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{221,1},{106,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,32}</string>
                <key>spriteSize</key>
                <string>{106,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{329,1},{106,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,32}</string>
                <key>spriteSize</key>
                <string>{108,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,32}</string>
                <key>spriteSize</key>
                <string>{108,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{111,1},{108,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{106,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1,82},{106,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{106,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{109,82},{106,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,32}</string>
                <key>spriteSize</key>
                <string>{104,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{319,250},{104,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,32}</string>
                <key>spriteSize</key>
                <string>{104,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1,248},{104,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,27}</string>
                <key>spriteSize</key>
                <string>{102,85}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{425,206},{102,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,27}</string>
                <key>spriteSize</key>
                <string>{102,85}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{425,310},{102,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,28}</string>
                <key>spriteSize</key>
                <string>{102,85}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{213,327},{102,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,28}</string>
                <key>spriteSize</key>
                <string>{102,83}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{209,414},{102,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,28}</string>
                <key>spriteSize</key>
                <string>{102,81}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{313,418},{102,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,29}</string>
                <key>spriteSize</key>
                <string>{102,81}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{209,499},{102,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,29}</string>
                <key>spriteSize</key>
                <string>{102,83}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{105,493},{102,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,27}</string>
                <key>spriteSize</key>
                <string>{104,83}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1,163},{104,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,27}</string>
                <key>spriteSize</key>
                <string>{104,85}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{325,82},{104,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,27}</string>
                <key>spriteSize</key>
                <string>{104,83}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{107,163},{104,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,27}</string>
                <key>spriteSize</key>
                <string>{102,85}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{105,406},{102,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{197,774},{72,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,17}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{294,774},{72,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,17}</string>
                <key>spriteSize</key>
                <string>{72,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{426,844},{72,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,18}</string>
                <key>spriteSize</key>
                <string>{74,97}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{437,1},{74,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,18}</string>
                <key>spriteSize</key>
                <string>{76,97}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{409,612},{76,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,18}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{350,848},{74,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,18}</string>
                <key>spriteSize</key>
                <string>{74,93}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{301,691},{74,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,19}</string>
                <key>spriteSize</key>
                <string>{76,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{272,848},{76,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,19}</string>
                <key>spriteSize</key>
                <string>{78,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{192,849},{78,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,19}</string>
                <key>spriteSize</key>
                <string>{76,97}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{409,690},{76,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,18}</string>
                <key>spriteSize</key>
                <string>{74,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{391,768},{74,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,18}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1,763},{92,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1,857},{92,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{92,97}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{105,659},{92,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,17}</string>
                <key>spriteSize</key>
                <string>{94,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{313,501},{94,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,16}</string>
                <key>spriteSize</key>
                <string>{94,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{209,582},{94,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,16}</string>
                <key>spriteSize</key>
                <string>{92,97}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1,669},{92,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,17}</string>
                <key>spriteSize</key>
                <string>{92,97}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{310,597},{92,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,18}</string>
                <key>spriteSize</key>
                <string>{94,97}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{414,516},{94,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,18}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{204,678},{94,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,19}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{100,753},{94,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,19}</string>
                <key>spriteSize</key>
                <string>{92,95}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{98,849},{92,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,26}</string>
                <key>spriteSize</key>
                <string>{102,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{105,578},{102,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,26}</string>
                <key>spriteSize</key>
                <string>{102,83}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1,505},{102,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,25}</string>
                <key>spriteSize</key>
                <string>{102,85}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1,418},{102,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{102,87}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1,329},{102,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,25}</string>
                <key>spriteSize</key>
                <string>{100,85}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{421,414},{100,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>monster_demon_tree_run_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{102,85}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{317,331},{102,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{104,81}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{213,163},{104,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{106,79}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{217,82},{106,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,27}</string>
                <key>spriteSize</key>
                <string>{104,77}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{107,248},{104,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,27}</string>
                <key>spriteSize</key>
                <string>{104,77}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{107,327},{104,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster_demon_tree_run_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,26}</string>
                <key>spriteSize</key>
                <string>{102,77}</string>
                <key>spriteSourceSize</key>
                <string>{112,143}</string>
                <key>textureRect</key>
                <string>{{1,590},{102,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>demon_tree.png</string>
            <key>size</key>
            <string>{512,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c6a4d85876525f65381c916c9fdabbd:59a90dfab0eb32160438c464b21f83b4:bac355f2c4e7983313378cef25dcbed8$</string>
            <key>textureFileName</key>
            <string>demon_tree.png</string>
        </dict>
    </dict>
</plist>
